---
title: "2-4-1 cocktails"
category: "Drinks Deals"
image: "../img/cocktail-2-4-1.jpg"
rev_de_cuba: "../img/rev_de_cuba.jpg"
the_pit_image: "../img/the-pit.jpg"
las_iguanas: "../img/las_iguanas.jpeg"
ivy_bar: "../img/ivy_bar.jpg"
banyan_image: "../img/banyan.jpg"
path: "posts/cocktail-happy-hours.html"
intro: "At The HG1 Club we've collated all the best places to explore if you're on a budget, enjoy 2-4-1 cocktails at all these great venues."
short_intro: "At The HG1 Club we've collated all the best places to explore if you're on a budget, enjoy 2-4-1 cocktails at all these great venues."
published: true
date: "June | 2018"
published_on: 2018-06-24
modified_on: 2018-06-24
---
<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8">
      <div class="container">
        <div class="post-single">
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="category">
                <h6><%= current_page.data.category %></h6>
              </div>
            </div>
            <h1><%= current_page.data.title %></h1>
            <div class="post-thumbnail">
              <img src="<%= current_page.data.image %>" alt="..." class="img-fluid">
            </div>
            <div class="sharethis-inline-share-buttons"></div>
            <div class="post-body">
              <p class="lead">
                At The HG1 Club we've collated all the best places to explore if you're on a budget, enjoy 2-4-1 cocktails at all these great venues.<i>Enjoy!</i>
              </p>
              <h3>Revolution de Cuba</h3>
              <div class="post-thumbnail">
                <img src="<%= current_page.data.rev_de_cuba %>" alt="<%= current_page.data.alt_text %>" class="img-fluid">
              </div>
              <p>
                A great option for anyone who wants a lively start to their night. Enjoy two for one cocktails at <strong>Revolution de <i>Cuba</i></strong>
                Monday to Friday 3-7pm aswel as Saturday 5-7pm. There's also Teapots of cocktails for £12 and Mahou Lager for £3.
              </p>
              <p><i><a href="https://www.revoluciondecuba.com/bar/harrogate/" target="_blank">Revolution de Cuba</a>, 18-20 Parliament St, HG1 2RN</i></p>
              <h3>The Pit Harrogate</h3>
              <div class="post-thumbnail">
                <img src="<%= current_page.data.the_pit_image %>" alt="<%= current_page.data.alt_text %>" class="img-fluid">
              </div>
              <p>
                2-4-1 cocktails Sunday - Thursday all day, Friday till 9pm & Saturday till 7pm
              </p>
              <p><i><a href="https://arcinspirations.com/pit-harrogate/menu/drinks" target="_blank">The Pit Harrogate</a>, The Ginnel Harrogate, HG1 2RB</i></p>
              <h3>Las Iguanas</h3>
              <div class="post-thumbnail">
                <img src="<%= current_page.data.las_iguanas %>" alt="<%= current_page.data.alt_text %>" class="img-fluid">
              </div>
              <p>
                A delicious taste of the Latin life is on offer at Harrogate’s vibrant John Street.
                Step inside and you’ll be transported from North Yorkshire to South America,
                with an eclectic menu of fresh,
                authentic food on offer alongside a legendary cocktail menu.
                Las Iguanas Harrogate is perfect for celebrations,
                catch-ups with friends, family-friendly meals and cosy meals for two.
                Enjoy Happy Hour all day every day with 2FOR1 on our best cocktails!
              </p>
              <p><i><a href="https://www.iguanas.co.uk/restaurants/harrogate/menus" target="_blank">Las Iguanas</a>, 1 John Street, Harrogate, HG1 1JZ</i></p>
              <h3>Ivy Bar</h3>
              <div class="post-thumbnail">
                <img src="<%= current_page.data.ivy_bar %>" alt="<%= current_page.data.alt_text %>" class="img-fluid">
              </div>
              <p>
                As if there wasn't enough choice already for a good happy hour enjoy 2-4-1 cocktails <strong>EVERY EVENING</strong> from 5-8pm in the lively surroundings of the Ivy Bar.
              </p>
              <p><i><a href="https://www.ivoryharrogate.co.uk/news-offers-events/71461-happy-hour/" target="_blank">Ivory Bar</a>, 2 The Ginnel, Harrogate, HG1 2RB</i></p>
              <h3>Banyan Bar & Kitchen Harrogate</h3>
              <div class="post-thumbnail">
                <img src="<%= current_page.data.banyan_image %>" alt="<%= current_page.data.alt_text %>" class="img-fluid">
              </div>
              <p>
                Why not checkout <strong>Banyan Club</strong> Sunday to Friday from 5pm and Saturday 5-9pm for delicious 2-4-1 cocktails.
              </p>
              <p><i><a href="https://arcinspirations.com/banyan-harrogate" target="_blank">Banyan</a>, Harrogate 3-4 John Street, Harrogate, HG1 1JZ</i></p>
            </div>
            <div class="sharethis-inline-share-buttons"></div>
          </div>
        </div>
      </div>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->

      <!-- Widget [Latest Posts Widget]        -->
          <div class="widget latest-posts">
            <header>
              <h3 class="h6">You also might like</h3>
            </header>
            <div>
                <% all_posts.each do |f| %>
                  <% if f.data.title.present? && f.data.published %>
                    <div class="item d-flex align-items-center">
                      <div class="image"><a href="<%= f.data.path.gsub('posts/','') %>" ><img src="<%= f.data.image %>" alt="<%= f.data.alt_text %>" class="img-fluid"></a>
                      </div>
                      <div class="title"><strong><a href="<%= f.data.path.gsub('posts/','') %>"><%= f.data.title %></a></strong>
                      </div>
                    </div>
                    <a></a>
                  <% end %>
                <% end %>
            </div>
          </div>
    </aside>
  </div>
</div>
