---
title: "3 Early Bird Specials"
category: "Food Deals"
image: "../img/early-bird.jpg"
tannin_level: "../img/tannin-level.jpg"
cote_brasserie: "../img/cote-brasserie.jpg"
vivido: "../img/vivido.jpg"
path: "posts/3-early-bird-specials.html"
intro: "We've put together 3 money saving great early bird deals that will make your money go further."
short_intro: "We've put together 3 money saving great early bird deals that will make your money go further."
alt_text: "West Park Hotel wine wall"
date: "April | 2018"
published: true
published_on: 2018-04-15
modified_on: 2018-04-15
---
<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8">
      <div class="container">
        <div class="post-single">
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="category">
                <h6><%= current_page.data.category %></h6>
              </div>
            </div>
            <h1><%= current_page.data.title %></h1>
            <div class="post-thumbnail">
              <img src="<%= current_page.data.image %>" alt="..." class="img-fluid">
            </div>
            <div class="sharethis-inline-share-buttons"></div>
            <div class="post-body">
              <p class="lead">
                Whether you want a treat mid week or you're trying to make your paycheck stretch that little bit further, we've got you covered.
                At <strong>The HG1 Club</strong> we've put together three excellent offers.<i>Enjoy!</i>
              </p>
              <h3>The Tannin Level</h3>
              <div class="post-thumbnail">
                <img src="<%= current_page.data.tannin_level %>" alt="<%= current_page.data.alt_text %>" class="img-fluid">
              </div>
              <p>
                <strong>The Tannin Level</strong> has a reputation as one of Harrogate’s foremost independent restaurants and they have a great money saving early bird menu.
                Early Bird Menu: Tuesday 5.30-9pm, Wednesday – Saturday 5.30-7pm.
                <br>
                1 Courses - £10.95
                <br>
                2 Courses - £14.95
                <br>
                3 Courses - £18.95
              </p>
              <p><i><a href="http://www.tanninlevel.co.uk/" target="_blank">The Tannin Level</a>, 5 Reglan Street, Harrogate, HG1 1LE</i></p>
              <h3>Cote Brasserie</h3>
              <div class="post-thumbnail">
                <img src="<%= current_page.data.cote_brasserie %>" alt="<%= current_page.data.alt_text %>" class="img-fluid">
              </div>
              <p>
                Côte is inspired by the brasseries of Paris, championing relaxed all-day dining and serving authentic French classics made from great quality, fresh ingredients.
                <br>
                Early Bird Menu: Monday- Friday 12-7pm
                <br>
                2 Courses - £10.95
                <br>
                3 Courses - £13.50
              </p>
              <p><i><a href="https://www.cote.co.uk/restaurant/details/harrogate" target="_blank">Cote Brasserie</a>, 5 Albert Street, Harrogate HG1 1JU</i></p>
              <h3>Vivido</h3>
              <div class="post-thumbnail">
                <img src="<%= current_page.data.vivido %>" alt="<%= current_page.data.alt_text %>" class="img-fluid">
              </div>
              <p>
                Early Bird Special Offer:
                <br>
                FREE glass of wine with Early Bird Offer of 2 courses for £14.95
                Available until 7pm every evening excluding Saturdays and Special Events, Offer
                may be subject to change.
              </p>
              <p><i><a href="http://www.vividorestaurant.co.uk/" target="_blank">Vivido</a>, 16 Cheltenham Crescent , Harrogate, HG1 1DH</i></p>
            </div>
            <div class="sharethis-inline-share-buttons"></div>
          </div>
        </div>
      </div>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <!-- Widget [Latest Posts Widget]        -->
        <div class="widget latest-posts">
          <header>
            <h3 class="h6">You also might like</h3>
          </header>
          <div>
              <% all_posts.each do |f| %>
                <% if f.data.title.present? && f.data.published %>
                  <div class="item d-flex align-items-center">
                    <div class="image"><a href="<%= f.data.path.gsub('posts/','') %>" ><img src="<%= f.data.image %>" alt="<%= f.data.alt_text %>" class="img-fluid"></a>
                    </div>
                    <div class="title"><strong><a href="<%= f.data.path.gsub('posts/','') %>"><%= f.data.title %></a></strong>
                    </div>
                  </div>
                  <a></a>
                <% end %>
              <% end %>
          </div>
        </div>
    </aside>
  </div>
</div>
