<!-- Hero Section-->
<section style="background: url(img/hero.jpg); background-size: cover; background-position: center center" class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>The HG1 Club</h1><p>The only place to find all the latest deals and events <strong>Harrogate</strong> has to offer</p>
      </div>
    </div>
  </div>
</section>
<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="h3">Welcome to the HG1 club</h2>
        <p class="text-big">Here you'll find the latest deals and offers <strong>Harrogate</strong> has to offer</p>
      </div>
    </div>
  </div>
</section>
<section class="featured-posts no-padding-top">
  <div class="container">
    <!-- Posts-->
    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
              <% sitemap.resources.each do |f| %>
                <% if f.data.title.present? && f.data.category.present? && f.data.published %>
                  <h6>
                    <%= f.data.category %>
                  </h6>
                  <a href="<%=f.data.path%>">
                    <h2 class="h4"><%= f.data.title %></h2>
                  </a>
                  </header>
                  <p><%= f.data.intro %></p>
                  </div>
                </div>
              </div>
              <div class="image col-lg-5"><img src="<%=f.data.image%>" alt="<%=f.data.alt_text%>"></div>
                <% end %>
              <% end %>
    </div>
</section>
<!-- Divider Section-->
<section style="background: url(img/divider-bg.jpg); background-size: cover; background-position: center bottom" class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2><a href="#" class="hero-link">View More</a>
      </div>
    </div>
  </div>
</section>
<!-- Latest Posts -->
<section class="latest-posts">
  <div class="container">
    <header>
      <h2>Latest from HG1</h2>
    </header>
    <div class="row">
      <!-- Latest Post -->
      <div class="post col-md-4">
        <% sitemap.resources.each do |f| %>
        <% if f.data.title.present? && f.data.title.present? && f.data.published %>
        <div class="post-thumbnail"><a href="<%=f.data.path%>"><img src="<%=f.data.image%>" alt="<%=f.data.alt_text%>" class="img-fluid"></a></div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date"><%=f.data.date%></div>
            <div class="category"><a href="#"><%=f.data.category%></a></div>
          </div><a href="<%=f.data.path%>">
            <h3 class="h4"><%=f.data.title%></h3></a>
            <p class="text-muted"><%=f.data.short_intro%></p>
        <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Newsletter Section-->
<section class="newsletter no-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Subscribe to our Newsletter</h2>
        <p class="text-big">For all you need to know about the latest deals and events going on in <strong>HG1</strong></p>
      </div>
      <div class="col-md-8">
        <div class="form-holder">
          <form action="#">
            <div class="form-group">
              <input type="email" name="email" id="email" placeholder="Type your email address">
              <button type="submit" class="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Gallery Section-->
<section class="gallery no-padding">
  <div class="row">
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="img/gallery-1.jpg" data-fancybox="gallery" class="image"><img src="img/gallery-1.jpg" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"></div></a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="img/gallery-2.jpg" data-fancybox="gallery" class="image"><img src="img/gallery-2.jpg" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"></div></a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="img/gallery-3.jpg" data-fancybox="gallery" class="image"><img src="img/gallery-3.jpg" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"></div></a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="img/gallery-4.jpg" data-fancybox="gallery" class="image"><img src="img/gallery-4.jpg" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"></div></a></div>
    </div>
  </div>
</section>
