<!-- Hero Section-->
<section style="background: url(img/harrogate-black-and-white-min.jpg); background-size: cover; background-position: center center" class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>The HG1 Club</h1>
      </div>
    </div>
  </div>
</section>
<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h3>Welcome to the HG1 club</h3>
        <p class="text-big">Here you'll find the latest deals and offers <strong>Harrogate</strong> has to offer</p>
      </div>
    </div>
  </div>
</section>
<section class="featured-posts no-padding-top">
  <div class="container">
    <!-- Posts-->
      <% all_posts.each do |f| %>
      <% if f.data.published %>
        <div class="row d-flex align-items-stretch">
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category">
                      <h6>
                        <%= f.data.category %>
                      </h6>
                      <a href="<%=f.data.path%>">
                        <h4><%= f.data.title %></h4>
                      </a>
                      </header>
                      <p><%= f.data.intro %></p>
                      </div>
                    </div>
                  </div>
                <div class="image col-lg-5"><img src="<%=f.data.image%>" alt="<%=f.data.alt_text%>" href="<%=f.data.path%>"></div>
            </div>
      <% end %>
    <% end %>
</section>
<!-- Divider Section-->
<section style="background: url(img/harrogate-street-image-min.jpg); background-size: cover; background-position: center" class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2><strong>The HG1 Club</strong> aims to provide all the information you'll ever need in order enjoy your time in Harrogate.</h2>
      </div>
    </div>
  </div>
</section>
<!-- Latest Posts -->
<section class="latest-posts">
  <div class="container">
    <header>
      <h2>Latest from HG1</h2>
    </header>
    <div class="row">
    <% all_posts.first(3).each do |f| %>
      <% if f.data.published %>
          <div class="post col-md-4">
            <div class="post-thumbnail"><a href="<%=f.data.path%>"><img src="<%=f.data.image%>" alt="<%=f.data.alt_text%>" class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date"><%=f.data.date%></div>
                <div class="category"><a href="#"><%=f.data.category%></a></div>
              </div><a href="<%=f.data.path%>">
                <h3 class="h4"><%=f.data.title%></h3></a>
                <p class="text-muted"><%=f.data.short_intro%></p>
            </div>
          </div>
          <% end %>
          <% end %>
    </div>
  </div>
</section>
<!-- Newsletter Section-->
<section class="newsletter no-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Subscribe to our Newsletter</h2>
        <p class="text-big">For all you need to know about the latest deals and events going on in <strong>HG1</strong></p>
      </div>
      <div class="col-md-8">
        <div class="form-holder">
          <div id="mc_embed_signup">
          <form action="https://club.us18.list-manage.com/subscribe/post?u=235571c8e523b7750038c5fc4&amp;id=30b86c5452" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="form-group">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" hidden-aria="true"><input type="text" name="b_235571c8e523b7750038c5fc4_30b86c5452" tabindex="-1" value=""></div>
              <div>
                <button type="submit" class="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
              </div>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
